<!doctype html>
<html>
    <head>
        <title>Admin Portal</title>
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../scripts/EventDispatcher.js"></script>
        <script src="../scripts/Model/QuizModel.js"></script>
        <script src="../scripts/View/QuizView.js"></script>
        <script src="../scripts/Controller/QuizController.js"></script>
        <script src="../scripts/AdminApp.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="select"></div>
            <div class="title"></div>
            <div class="question"></div>
            <div class="add"></div>
            <div class="save"></div>
            <div class="logout"></div>
        </div>
    </body>
</html>