<!doctype html>
<html>
    <head>
        <title>Login to Quiz Creator</title>
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../scripts/EventDispatcher.js"></script>
        <script src="../scripts/Model/LoginModel.js"></script>
        <script src="../scripts/View/LoginView.js"></script>
        <script src="../scripts/Controller/LoginController.js"></script>
        <script src="../scripts/LoginApp.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="container">
            <div class="register"></div>
            <div class="login"></div>
        </div>
    </body>
</html>